.film-text.text,
.small-film-text.text {
    font-family: Alata;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #979797;
    text-align: left;
}

.film-text {
    font-size: 20px;
}

.small-film-text {
    max-width: 252px;
    max-height: 98px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;

}