.trailer-card .text {
    font-family: Alata;
    font-size: 24px;
    line-height: 33px;
    color: #979797;
}

.trailer-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    padding: 29px 43px 140px 29px;
    background: #FDFDFF;
    border: 1px solid #EBEBEB;
    border-radius: 13px;
    max-width: 798px;
    margin-bottom: 55px;
}

.trailer-title{
    color: #7F7FD5;
    margin-bottom: 28px;
    display: flex;
}
.trailer-video-container{
    margin-bottom: 47px;
}
.trailer-video{
    width: 516px;
height: 282px;
border-radius: 13px;
}

.trailer-description{
    text-align: left;
}